/**
 *
 * Author : Aditya Shakya (adi1090x)
 * Github : @adi1090x
 * 
 * Colors
 **/

* {
    background:     #001014FF;
    background-alt: #001C22FF;
    foreground:     #839496FF;
    selected:       #239084FF;  
    active:         #859900FF;
    urgent:         #DC322FFF;
}

